<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.comsand.ecommtest.AddproducttoCartTest"/>
      <class name="com.comsand.ecommtest.PurchaseproductWithcashonDeliveryTest"/>
      <class name="com.comsand.ecommtest.RemoveproductfromwishlistTest"/>
      <class name="com.comsand.ecommtest.TocheckorderhistoryTest"/>
      <class name="com.comsand.ecommtest.AddingmultipleproducttocartTest"/>
      <class name="com.comsand.ecommtest.RemoveProductFromCartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
