<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.comsand.ecomm.Updateproductinthecart"/>
      <class name="com.comsand.ecomm.AddproducttoCartTest"/>
      <class name="com.comsand.ecomm.PurchaseproductWithcashonDeliveryTest"/>
      <class name="com.comsand.ecomm.Removeproductfromwishlist"/>
      <class name="com.comsand.ecomm.Tomanageorders"/>
      <class name="com.comsand.ecomm.RemoveProductFromCartTest"/>
      <class name="com.comsand.ecomm.Addingmultipleproducttocart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
